@model Quizdom.Models.Quiz

@{
    ViewBag.Title = "Quizes";
    Layout = "~/Views/Shared/_SideNavPanel.cshtml";
}
<div class="container-fluid">
    <h3 class="text-dark mb-4">Quizzes</h3>
    <div class="card shadow">
        <div class="card-header py-3">
            <div class="row">
                <div class="col-md-6 text-nowrap">
                    <div id="dataTable_length" class="dataTables_length" aria-controls="dataTable"><label class="form-label">
                        <input type="search" class="form-control form-control-sm" aria-controls="dataTable" placeholder="Search Quizzes" id="txt_Search" style="width: 285px;" onkeyup="SearchQuizes()"></label></div>
                </div>
                <div class="col-md-6">
                    <div class="text-md-end dataTables_filter" id="dataTable_filter"><button class="btn btn-primary btn-sm" type="button" onclick="@("window.location.href='" + @Url.Action("AddQuizName", "Quiz") + "'");">Add Quiz</button></div>
                </div>
            </div>
        </div>
        <div class="card-body">
            <div class="table-responsive table mt-2" id="dataTable-1" role="grid" aria-describedby="dataTable_info">
                <table class="table my-0" id="dataTable">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Date</th>
                            <th>Share</th>
                            <th>Delete</th>
                            <th>Status</th>
                        </tr>
                    </thead>
                    <tbody>


                        @foreach (var quiz in Main.GetQuizDetails(Main.UserID))
                        {
                            string className = "Active";

                            if (!quiz.IsActive)
                            { className = "Inactive"; }
                            

                            <tr>
                                <td>@quiz.QuizTilte</td>
                                <td>@quiz.DateCreated.ToShortDateString()</td>
                                <td><button class="btn btn-primary" type="button" onclick="copyToClipboard('@quiz.Link')"><i class="fas fa-share-alt"></i></button></td>
                                <td><a href="@Url.Action("DeleteQuiz", "Quiz", new { id = quiz.Id })"><button class="btn btn-primary" type="button"><i class="fas fa-trash"></i></button></a></td>
                                <td>
                                    <a href="@Url.Action("ToggleStatus", "Quiz", new { id = quiz.Id })">
                                        <button class="btn btn-primary @className" type="button">
                                            <svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" viewBox="0 0 24 24" fill="none">
                                                <path fill-rule="evenodd" clip-rule="evenodd" d="M15 12C15 13.6569 13.6569 15 12 15C10.3431 15 9 13.6569 9 12C9 10.3431 10.3431 9 12 9C13.6569 9 15 10.3431 15 12ZM13 12C13 12.5523 12.5523 13 12 13C11.4477 13 11 12.5523 11 12C11 11.4477 11.4477 11 12 11C12.5523 11 13 11.4477 13 12Z" fill="currentColor"></path>
                                                <path fill-rule="evenodd" clip-rule="evenodd" d="M12 19C15.866 19 19 15.866 19 12C19 8.13401 15.866 5 12 5C8.13401 5 5 8.13401 5 12C5 15.866 8.13401 19 12 19ZM12 17C14.7614 17 17 14.7614 17 12C17 9.23858 14.7614 7 12 7C9.23858 7 7 9.23858 7 12C7 14.7614 9.23858 17 12 17Z" fill="currentColor"></path>
                                                <path fill-rule="evenodd" clip-rule="evenodd" d="M12 23C18.0751 23 23 18.0751 23 12C23 5.92487 18.0751 1 12 1C5.92487 1 1 5.92487 1 12C1 18.0751 5.92487 23 12 23ZM12 21C16.9706 21 21 16.9706 21 12C21 7.02944 16.9706 3 12 3C7.02944 3 3 7.02944 3 12C3 16.9706 7.02944 21 12 21Z" fill="currentColor"></path>
                                            </svg>
                                        </button>
                                    </a>
                                </td>
                            </tr>
                        }
                    </tbody>
                    <tfoot>
                        <tr></tr>
                    </tfoot>
                </table>
            </div>
        </div>
    </div>
</div>

<script>
    function SearchQuizes() {
        // Declare variables
        var input, filter, table, tr, td, i, txtValue;
        input = document.getElementById("txt_Search");
        filter = input.value.toUpperCase();
        table = document.getElementById("dataTable");
        tr = table.getElementsByTagName("tr");

        // Loop through all table rows, and hide those who don't match the search query
        for (i = 0; i < tr.length; i++) {
            td = tr[i].getElementsByTagName("td")[0];
            if (td) {
                txtValue = td.textContent || td.innerText;
                if (txtValue.toUpperCase().indexOf(filter) > -1) {
                    tr[i].style.display = "";
                } else {
                    tr[i].style.display = "none";
                }
            }
        }
    }

    function copyToClipboard(code) {
        var msg = code + " - Share this code with students to joiz quiz.";
        alert(msg);
        //use msg now
    }

</script>