@model Quizdom.Models.Questions

@{
    ViewBag.Title = "StudentQuizInput";
    Layout = "~/Views/Shared/_SideNavPanel.cshtml";
}

<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-9 col-lg-12 col-xl-10" style="width: 750px;">
            <div class="card shadow-lg o-hidden border-0 my-5">
                <div class="card-body p-0">
                    <div class="p-5">
                        <form class="user">
                            <div class="text-center">
                                <h4 class="text-dark mb-4" style="color: rgb(58, 59, 69);">@Main.QuizTitle</h4>
                            </div>
                            @{ int count = 1;}
                            @foreach (var item in Main.GetQuestions(Main.QuizID))
                            {
                                string A = "wrong", B = "wrong", C = "wrong", D = "wrong";

                                if (item.CorrectChoice == "A")
                                { A = "right"; }
                                else if (item.CorrectChoice == "B")
                                { B = "right"; }
                                else if (item.CorrectChoice == "C")
                                { C = "right"; }
                                else if (item.CorrectChoice == "D")
                                { D = "right"; }

                                <div class="question">
                                    <label class="form-label @item.Points" style="color: rgb(58,59,69);font-weight: bold;margin-top: 5px;">@count. @item.Question</label>
                                    <div class="form-check" style="margin-bottom: 5px;">
                                        <input class="form-check-input @A" type="radio" id="formCheck-1" style="margin-bottom: 5px;">
                                        <label class="form-check-label" for="formCheck-1" style="color: rgb(58,59,69);margin-bottom: 5px;">@item.ChoiceA</label>
                                    </div>

                                    <div class="form-check" style="margin-bottom: 5px;">
                                        <input class="form-check-input @B" type="radio" id="formCheck-3" style="margin-bottom: 5px;">
                                        <label class="form-check-label" for="formCheck-1" style="color: rgb(58,59,69);margin-bottom: 5px;">@item.ChoiceB</label>
                                    </div>
                                    <div class="form-check" style="margin-bottom: 5px;">
                                        <input class="form-check-input @C" type="radio" id="formCheck-2" style="margin-bottom: 5px;">
                                        <label class="form-check-label" for="formCheck-1" style="color: rgb(58,59,69);margin-bottom: 5px;">@item.ChoiceC</label>
                                    </div>
                                    <div class="form-check" style="margin-bottom: 5px;">
                                        <input class="form-check-input @D" type="radio" id="formCheck-1">
                                        <label class="form-check-label" for="formCheck-1" style="color: rgb(58,59,69);">@item.ChoiceD</label>
                                    </div>
                                </div>
                                <br />
                                count++;
                            }
                            <button href="#" class="btn btn-primary d-block btn-user w-100" type="submit" style="background: rgb(78, 115, 223);font-size: 14;margin-top: 25px;">Submit</button>
                            <input id="hiddenControl" type="hidden" />
                        </form>
                        <div class="text-center"></div>
                        <div class="text-center"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="~/assets/js/QuizCalculate.js"></script>